@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

body {
   background-color: #282a36;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

h1 {
   color: #f8f8f2;
   font-family: Comfortaa;
   font-weight: 700;
}

h2 {
   color: #6272a4;
   font-family: Comfortaa;
   font-weight: 300;
}

#pro {
   color: #50fa7b;
}

#artist {
   color: #bd93f9;
}
